*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  background-image: url(../images/background.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}


.header {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.header-inner {
  margin-top: 51px;
  display: flex;
  color: #fff;
}

.header-inner:hover {
  color: #F26522;
}

.logo {
  display: block;
}

.logo-hover {
  display: none;
}

.header-inner:hover .logo {
  display: none;
}

.header-inner:hover .logo-hover {
  display: block;
}



.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 29px;
  padding-left: 8px;
}

.header-subtitle {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
}

.header-contacts {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  margin-top: 46px;
}

.header-email {
  color: #fff;
  margin-bottom: 19px;
  transition: all .3s
}

.header-email:hover {
  color: #F26522;
}

.header-phone {
  color: #fff;
  display: block;
  margin-top: 19px;
  text-align: right;
  transition: all .3s
}

.header-phone:hover {
  color: #F26522;
}

.main {
  padding-top: 12px;
}

.content {
  margin: 0 auto;
  max-width: 1040px;
  display: flex;
  flex-wrap: wrap;
  gap: 37px 70px;
}

.content-link {
  position: relative;
}

.content-link:hover .information-tours {
  opacity: 1;

}



.content-text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  padding-top: 20px;
  transition: all .3s
}

.content-text:hover {
  color: #F26522;
}


.information-tours {
  position: absolute;
  background-color: #F26522;
  width: 300px;
  height: 55px;
  bottom: 39px;
  opacity: 0;
  transition: all .3s
}


.tours {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  padding: 7px 16px 8px;
}

.price {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  padding-left: 16px;
}

.details {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  position: absolute;
  left: 180px;
  bottom: 12px;
}

.details::after {
  content: '>';
  display: inline-block;
  padding-left: 16px;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding-top: 50px;
}